/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
  }
  
  /* Cabeçalho */
  header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  /* Seção de imagens */
  #imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imagem {
    flex: 1 1 auto;
    margin: 10px;
  }
  
  .imagem img {
    max-width: 100%;
    height: auto;
  }
  
  /* Conteúdo central */
  #conteudo-central {
    text-align: center;
    padding: 20px;
  }
  
  /* Player de áudio */
  #audio-player audio {
    width: 100%; /* Isso garante que o player de áudio não ultrapasse a largura da tela */
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  /* Media query para telas menores (dispositivos móveis) */
  @media (max-width: 768px) {
    #imagens {
      flex-direction: column;
    }
  }

.imagem {
  /* Certifique-se de que as imagens não ocupem toda a largura em dispositivos móveis */
  max-width: 100%;
  height: auto;
}

#countdown {
  /* Ajuste a contagem regressiva para ser exibida entre as imagens */
  display: block;
  margin: 20px auto; /* Isso adiciona espaço acima e abaixo da contagem regressiva */
  font-size: 2em; /* Ajuste o tamanho da fonte conforme necessário */
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
  #countdown {
    font-size: 1.5em; /* Tamanho de fonte menor para telas menores */
  }
}
  